/* navigatie incl plaatje*/
#menu {
  width: 100%;
  height: 50px;
  padding-left: 40px;
  padding-top: 25px;
}

/* grootte van het plaatje */
.Menu-plaatje {
  height: 100%;
}

/*navigatie zonder plaatje dus de kleuren*/
#navigatie {
  padding-top: 70px;
  text-transform: uppercase;
  font-size: 25px;

  /*
  max-height: 30px; 
  overflow: hidden; dus nu is de tekst niet te zien, overflow hidden */
}

#navigatie ul li {
  list-style: none;
}

/* start want bij openen pagina is lijst hidden
#lijst {
  max-height: 5px;  dus nu is de tekst niet te zien, overflow hidden 
  overflow: hidden; 
}
 
open, want als ik klik dan opent de lijst 
#lijst  Dicht {
  max-height: 1000px;  wanneer navigatie open, dan 400px naar beneden en wordt menu zichtbaar 
} 

dan ga ik er gewoon nog een maken die dan weer sluit 
#lijst  Open {
  max-height: 5px;  dus nu is de tekst niet te zien, overflow hidden 
  overflow: hidden;
} 
 */
